.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

.carousel-caption > h3 {
  font-size: 8rem;
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px azure,
    0 0 20px aqua,
    0 0 40px dodgerblue,
    0 0 80px blue;
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;;
}

.carousel-caption > p {
  font-size: 2rem;
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px azure,
    0 0 20px aqua,
    0 0 40px dodgerblue,
    0 0 80px blue;
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;;
}

.modal {
   position: absolute;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-content {
  background-color: rgba(0,0,0,.8) !important;
}

.modal-content label, .modal-content button {
  color: aqua;
}

.modal-content .modal-header {
  border-bottom-color: aqua;
}

.modal-content .nav-link {
  color: aqua;
}

.modal-content .nav-link.active {
  background-color: aqua;
  color: grey;
  font-weight: 700;
}

.modal-content input {
  background-color: grey;
}

.modal-content input::placeholder {
  color: antiquewhite;
}

.modal-content input:focus {
  background: antiquewhite;
}

.modal-content input:focus::placeholder {
  color: grey;
}

.modal-content .btn {
  background-color: aqua;
}

.modal-content .btn-success {
  color: grey;
}

@media (prefers-reduced-motion: no-preference) {
}

@media only screen and (max-width: 640px) {
  .carousel-caption > h3 {
    font-size: 3.2rem;
  }

  .carousel-caption > p {
    font-size: 2rem;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

